body, html{
    margin:0px;
    box-sizing: border-box;
    height:100%;
    background-color: paleturquoise
}

body{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


navbar{
    display:flex;
    background-color: blanchedalmond;
    height: 15%;
    justify-content:space-around;
    align-items:center;;
    width:100%;
    

    
    
}


.RPS{
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left:80px;
}

navbar div{
    display:flex;
    height:100%;
    align-items:center;
    margin-left: 10px;
    margin-right: 10px;
}

navbar > div:hover{
    background-color: beige;
    border-bottom: 4px dotted black;
}


.HS {
    display: flex;
    gap: 15px;
    height: 100%;
    align-items: center;
    
}

.HS a{
    text-decoration: none;
    color:black;
}

.container{
    display:flex;
    height:85%;
   
}

.splitcontainerSide{
    display:flex;
    flex:1 2 auto;
    width:25%;
    flex-wrap:wrap
}


.splitcontainerMiddle{
    display:flex;
    flex:1 0 auto;
    width:50%; 
    justify-content: center;
}

.splitcontainerMiddle p{
    color:rgb(20, 20, 20);
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.splitcontainerMiddle button{
    color:rgb(0, 0, 0);
    font-size: x-large;
    height:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:30px;
}

.score{
    display:flex;
    justify-content: space-between;
    text-align: center;
}

.scoreBoard{
    display:flex;
    flex-direction: column;
    width:20%;
    
    align-items: center;
    gap:10px;
    
}

#playerScoree{
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    border-radius: 50%;
    width:25px;
    height:25px;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    padding:10px;
}

#computerScoree{
    border:2px solid rgb(5, 5, 5);
    display: flex;
    border-radius: 50%;
    width:25px;
    height:25px;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    padding:10px;
}

#playAgain{
    border: 3px solid black;
}

.playerChoices, .computerChoices{
    width:100%;
    
}

.playerChoices{
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    height:20%;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    margin-left: 20px;
    
}


.playerChoices:hover{
    transform: scale(1.1);
   
}

.playerChoices input{
    background-color: transparent;
    border:none;
    width:100%;
    height: 100%;
    border-radius: 20px;
    background-image:;
    
}


.computerChoices {
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    height:20%;
    margin:10px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}



.computerChoices:hover{
    transform:scale(1.1);
   
}




#playAgain:hover{
    background-color: aliceblue;
}



